{% include "header.html" %}

<div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <article class="card mb-4">
            <header class="card-header text-center">
              <h1 class="card-title">Who are we?</h1>
            </header>
            <div class="card-body">

              <p><strong>He@d$p@ce was started in 2024 by John Doe. He@d$p@ce is more than just a blog but a place that readers can receive tools that can help anyone
                willing to learn to get to the right headspace. Mental health is so important that if you're not thinking correctly, you can make decisions that can cause
                uncessary trauma and desctruction to your life. </strong></p>

              <p>Everyone goes through highs and lows in their life that can impact there mental state, dealing with the highs
                and lows in a healthy manner is possible. We cover different categories such as Technology, work, travel, books and various activites to help build your
                mental fortitude.</p>
              <div class="text-center my-2">
                  <h3>Our Team</h3>
                  <row class="d-lg-flex">
                      <div class="col-md-6">
                          <img src="static/img/about_pic.jpg" class="img-fluid rounded-circle mb-3 text-center" style="width: 250px; height: 300px"  alt="John Doe" />
                          <h4>John Doe</h4>
                          <span class="d-block mb-3 text-uppercase">Founder</span>
                          <p>John Doe is an established web developer and inventor. Always tries to see new ways to use technology to help the community.</p>
                      </div>
                      <div class="col-md-6 text-center">
                          <img src="static/img/about_pic2.jpg" class="img-fluid rounded-circle mb-3 text-center" style="width: 250px; height: 300px"  alt="Jane Doe" />
                          <h4>Jane Smith</h4>
                          <span class="d-block mb-3 text-uppercase">Editor</span>
                          <p>Jane is an editor with a passion for writing. She has written many books which became best sellers. She is also skilled in photography.</p>
                      </div>
                  </row>
              </div>


              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

              <div class="row">
                <div class="col-md-4">
                  <ul>
                    <li>Donec quam felis</li>
                    <li>Consectetuer adipiscing</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li>Donec quam felis</li>
                    <li>Consectetuer adipiscing</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li>Donec quam felis</li>
                    <li>Consectetuer adipiscing</li>
                  </ul>
                </div>
              </div>

              <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>

            </div>
          </article><!-- /.card -->

        </div>
      </div>
    </div>

{% include "footer.html" %}
