{% include "header.html" %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <article class="card mb-4">
            <header class="card-header text-center">
              <h1 class="card-title">Get in touch</h1>
            </header>
            <div class="card-body">

              <p>At <strong>He@d$p@ce</strong> we offer more than just blogs with excellent advice to get you in the right headspace, we also do workshops where companies
                can send their employees for team building and educate them in not only building but sustaining a great work environment. We believe that
                excellent mental health is something that does not require you having to go on vacation or retreats only, but it is something that you can get
                with the right tools and attitude where ever you are. You might just have a query you would like to discuss with us, thats okay too. You can contact us
                by filling in the form below. We will get back to as soon as we can.</p>

              <form action="" method="post" novalidate>
                  {{ form.csrf_token }}
                  <div>
                      {{ form.name.label(class_="form-label") }}
                      {% if form.name.errors %}
                          {{ form.name(class_="form-control is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                      {% else %}
                          {{ form.name(class_="form-control") }}
                      {% endif %}
                  </div>
                  <div>
                      {{ form.email.label(class_="form-label mt-3") }}
                      {% if form.email.errors %}
                          {{ form.email(class_="form-control is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                      {% else %}
                          {{ form.email(class_="form-control") }}
                      {% endif %}
                  </div>
                  <div>
                      {{ form.message.label(class_="form-label mt-3") }}
                      {% if form.message.errors %}
                          {{ form.message(class_="form-control is-invalid", rows="6") }}
                          <div class="invalid-feedback">
                            {% for error in form.message.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                      {% else %}
                          {{ form.message(class_="form-control", rows="6") }}
                      {% endif %}
                  </div>
                  <div class="form-group">
                      {{ form.submit(class_="btn btn-success mt-3") }}
                  </div>
              </form>

            </div>
          </article><!-- /.card -->

        </div>
      </div>
    </div>

{% include "footer.html" %}