{% include "header.html" %}

    <div class="container">

      <div class="row">
        <div class="col-md-9">
            {% include "flash_message.html" %}
            {% for post in posts %}
                <article class="card mb-4">
                    <header class="card-header">
                      <div class="card-meta">
                          <a class="fw-bold" href="#">{{ post.author.username }}</a>
                        <small class="fs-6">{{ post.date_posted.strftime("%d-%b-%Y") }} in <a href="page-category.html">{{ post.category }}</a></small>
                      </div>
                      <a href="{{ url_for('show_post', post_id=post.id) }}">
                        <h4 class="card-title">{{ post.title }}</h4>
                      </a>
                    </header>
                    <a href="{{ url_for('show_post', post_id=post.id) }}">
                      <img class="card-img" src="{{ url_for('static', filename='post_pics/' + post.post_pic) }}" alt="" />
                    </a>
                    <div class="card-body">
                      <p class="card-text">{{ post.subtitle }} </p>
                    </div>
                      <a href="{{ url_for('show_post', post_id=post.id) }}" class="btn btn-light btn-sm">Read more..</a>
                </article><!-- /.card -->
            {% endfor %}
        </div>
        {% include "sidebar.html" %}
      </div>
    </div>

{% include "footer.html" %}