{% include "header.html" %}

    <div class="container">

      <div class="row">
        <div class="col-md-9">
            {% for post in posts %}
                <article class="card mb-4">
                    <header class="card-header">
                      <div class="card-meta">
                          <a class="fw-bold" href="#">{{ post.username }}</a>
                        <a href="#"><time class="timeago" datetime="2021-09-26 20:00">{{ post.date_posted }}</time></a> in <a href="page-category.html">{{ post.category }}</a>
                      </div>
                      <a href="post-image.html">
                        <h4 class="card-title">{{ post.title }}</h4>
                      </a>
                    </header>
                    <a href="post-image.html">
                      <img class="card-img" src="{{ post.image_file }}" alt="" />
                    </a>
                    <div class="card-body">
                      <p class="card-text">{{ post.subtitle }} </p>
                    </div>
                      <button class="btn btn-light btn-sm">Read more..</button>
                </article><!-- /.card -->
            {% endfor %}
        </div>
        {% include "sidebar.html" %}
      </div>
    </div>

{% include "footer.html" %}