{% include "header.html" %}

    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <article class="card mb-4">
            <div class="card-body">

                {% include "flash_message.html" %}

              <form action="" method="post" novalidate>
                  {{ form.csrf_token }}
                  <legend class="border-bottom mb-4">Reset Password</legend>
                  <div>
                      {{ form.password.label(class_="form-label mt-3") }}
                      {% if form.password.errors %}
                          {{ form.password(class_="form-control is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                      {% else %}
                          {{ form.password(class_="form-control") }}
                      {% endif %}
                  </div>
                  <div>
                      {{ form.confirm_password.label(class_="form-label mt-3") }}
                      {% if form.confirm_password.errors %}
                          {{ form.confirm_password(class_="form-control is-invalid") }}
                          <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                      {% else %}
                          {{ form.confirm_password(class_="form-control") }}
                      {% endif %}
                  </div>
                  <div>
                      {{ form.submit(class_="btn btn-primary mt-3") }}
                  </div>

              </form>

            </div>
          </article><!-- /.card -->

        </div>
      </div>
    </div>

{% include "footer.html" %}