{% include "header.html" %}

    <div class="container">

      <div class="row">
        <div class="col-md-9">

            <header class="card-header text-start">
              <h1 class="card-title">Subscribers List</h1>
            </header>
            {% include "flash_message.html" %}
            <div class="table-responsive">
                <table class="table table-striped align-middle">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Email</th>
                      <th scope="col">Date Subscribed</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for subscriber in subscribers %}
                          <tr>
                              <th scope="row">{{ subscriber.id }}</th>
                              <td>{{ subscriber.email }}</td>
                              <td>{{ subscriber.date_subscribed.strftime("%d-%b-%Y") }}</td>
                              <td><a
                                      class="btn btn-danger"
                                      data-bs-toggle="modal"
                                      data-bs-target="#deleteSubscriberModal{{ subscriber.date_subscribed.strftime("%f") }}">
                                     Delete
                                   </a>
                                    <!-- Modal for the Subscriber delete button -->
                                        <div class="modal fade" id="deleteSubscriberModal{{ subscriber.date_subscribed.strftime("%f") }}" tabindex="-1" aria-labelledby="deleteSubscriberModalLabel{{ subscriber.date_subscribed.strftime("%f") }}" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteSubscriberModalLabel{{ subscriber.date_subscribed.strftime("%f") }}">Delete Subscriber?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                  <form action="{{ url_for('users.delete_subscriber', subscriber_id=subscriber.id) }}" method="post">
                                                      <input class="btn btn-danger" type="submit" value="Delete">
                                                  </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    <!-- Modal for the Subscriber delete button -->
                              </td>
                            </tr>
                      {% endfor %}
                  </tbody>
                </table>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-4 text-center">
                    {% for page_num in subscribers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                    {% if page_num %}
                        {% if subscribers.page == page_num %}
                            <a class="btn btn-info mb-4" href="{{ url_for('users.subscriber_list', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('users.subscriber_list', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% include "sidebar.html" %}
      </div>
    </div>



{% include "footer.html" %}